<% content_for :css do %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag "projects/list.js" %>
<% end %>

<div>

    <div id="wrapper" class="main-container">

        <%= render 'includes/header' %>

        <div class="header">
            <div>
                <a href="<%=@root%>/create-project">Create project</a>
            </div>

            <br/>
            <h1 class="form-header">Project list</h1>
            <br/>
        </div>

        <div id="table-data"></div>
    </div>

</div>

<%= render 'includes/footer' %>
